{{#section 'title'}}
<h1 class="page-header">Google search result</h1>
<!-- /.row -->
{{/section}}

<div>
<script>
  (function() {
    var cx = '013413062492626092452:bvt5y-_lkgm';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>

{{#section 'jquery'}}
	<script src="/jquery/search.js"></script>
{{/section}}